.locationReset {
    cursor: pointer;
    background: url('../../images/location-reset-icon.png') 0 0 no-repeat;
    background-size: 18px auto;
    display: block;
    height: 18px;
    opacity: .6;
    width: 18px;
    position: absolute;
    right: 22px;
    top: 21px;
}
